@font-face{
	font-family: sans_regular;
	src: url('../font/OpenSans-Regular.ttf');
}
@font-face{
	font-family: sans_bold;
	src: url('../font/OpenSans-Bold.ttf');
}
@font-face{
	font-family: baumans;
	src: url('../font/baumans-regular.ttf');
}
