html,body{
	font-family: "Roboto", sans-serif;
	color: #888;
	box-sizing: border-box;
}
.container{
	margin-top: 50px;
	.card{
		h5{
			font-size: 18px;
			padding: 15px 20px 15px;
    		margin: 0;
    		font-weight: 400;
    		color:#fff;
		}
		.collection{
			margin:0;
			overflow: inherit;
			.ui-state-highlight{
				min-height:calc(1.5rem + 20px);
				background:#fafafa;
			}
			.dragging{
				transform: rotate(4deg);
			}
			&-item{
				cursor: move;
				transition: 0;
				color: rgba(0,0,0,0.8);
				position: relative;
				i.fa{
					position: absolute;
					top: 10px;
					right: 10px;
					font-size: 12px;
					opacity: 0;
					cursor: pointer;
					padding: 6px;
				    &:hover{
						background: #e8e8e8;
				    }
				}
				&:hover i.fa{
				    opacity: 1;
				}
			}
		}
		.input-field{
			background: #fff;
			padding: 20px;
			margin:0;
			label{
				top: 25px;
				left: 20px;
			}
		}
	}
}
.modal{	
	width: 35%;
	h4{
		font-size: 20px;
		color:#333;
	}
	p{
		font-size: 16px;
		color:#777;
	}
}
